.neumorp-button{
    border-radius: 5px;
    background: #848383;
    box-shadow:  -5px -5px 11px #212121,
                 5px 5px 11px #313131;

}

.word-stream{
    color: #ffffff;
    font-weight: 800;
}
.card-object{
    width: 300px;
    color: #ffffff;
    border-radius: 5px;
    border-color: #d7d7d70f;
    background: #2e2e2e9d;
    box-shadow:  -5px -5px 11px #7272722d,
                 5px 5px 11px #04040452;
}

.modal-button{

    color: rgb(255, 255, 255);
    background-color: #292929;
    border-radius: 6px;
    border-width: 0;
    box-shadow:  -2px -2px 8px #72727238,
                 5px 3px 8px #040404a8;
}

.start-button{

    color: rgb(255, 255, 255);
    background-color: #68686823;
    border-radius: 6px;
    border-width: 0;
    box-shadow:  -2px -2px 8px #72727238,
                 5px 3px 8px #040404a8;
}

.start-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow:  -2px -2px 8px #72727200,
    5px 3px 8px #040404f5;
  }